@import url('grid.css');
@import url('jquery.tweet.css');
/*@font-face {font-family:"Open Sans";src:url("Open_Sans/OpenSans-Regular.eot?") format("eot"),url("Open_Sans/OpenSans-Regular.woff") format("woff"),url("Open_Sans/OpenSans-Regular.ttf") format("truetype"),url("Open_Sans/OpenSans-Regular.svg#OpenSans") format("svg");font-weight:normal;font-style:normal;}*/
body{
	font-family: 'Open Sans', 'Lucida Sans Unicode', Georgia, Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
    background-image: url('nucks.jpg');
	background-color: #001E3A;
	background-repeat: no-repeat;
    background-attachment: fixed;
   /* background-size: 100% 100%;*/
    /*position: relative;*/
	font-size:100%;
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    }
.body{
	width: 940px;
	height: auto;
	position: relative;
	margin: 0 5px 5px 5px;
	padding: 5px 0 0px 0px;
	display: block;
	text-align: left;
    font-size: 1em;
	/*float: inherit;*/
}
a[href], input[type='submit'], input[type='image'], select, button, .pointer {
cursor: pointer;
}
.leftext{text-align: left;}
a{ 
text-decoration: none;
 }
a img {border: none; } /* to Remove The Blue Link Image Border in IE */
a:link, a:visited{color: #00135D;}
td,th{
	font-size: 0.93em;
}
.td_f{
	background-color: #FFF;
	position: relative; overflow: hidden;
}
.td_bg{
	width: 940px;
	height: 80px;
	margin: 0 10px 0px 10px;
	padding: 0 0 0 0;
	text-align: left;
	position: relative;
}
.bord{
-webkit-box-shadow:  0px 10px 80px 1px rgba(236, 236, 236, 0.8);
 -moz-box-shadow:  0px 10px 80px 1px rgba(236, 236, 236, 0.8);
 box-shadow:  0px 10px 80px 1px rgba(236, 236, 236, 0.8);
}
.inner{
	float: right;
	text-align: right;
	height:auto;
	width: auto;
	/*z-index: 10px;*/
	margin: 20px 0 0 0;
	position: relative;
	padding: 0 0 0 0;
	border: 0px;
}
.upp{
	width: auto;
	height: 15px;
	float: right;
	display: block;
	position: relative;
	font-size: 0.95em;
	font-family: Arial, Helvetica, sans-serif;
}
.down{
	width: auto;
	height: auto;
	display: block;
	position: relative;
	text-align: right;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#mainlinks{
	height: 23px;
	width: auto;
	color: #FFFFFF;
	background-color: #1F2F55;
	padding: 7px 0px 0 0px;
	margin: 3px 0 0 0;
	font-weight: bold;
	border: 0px;
	font-size: 13px;
    display: inline;
}
#mainlinks a:link, #mainlinks a:visited{color: #FFFFFF;}
a.mainlinks2{
	background: #1F2F55;
	background-color: #6C82B8;
	color: #FFFFFF;
	padding: 1px 10px 7px 10px;
	margin: 0 0 0 0;
	text-decoration: none;
	border: 0px;
}
#mainlinks ul{
	background: #1F2F55;
	color: #FFFFFF;
	padding: 7px 10px 7px 10px;
	margin: 0 0 0 0;
	text-decoration: none;
    display: inline;
    position: relative;
    list-style: none; text-align: justify;
}
#mainlinks li{background: #1F2F55;
	padding: 7px 10px 7px 10px;
	margin: 0 0 0 0;
	display: inherit;
    position: relative;
    }
/*  separator
    #mainlinks li + li:before{
    content: " | ";
}*/
#mainlinks li:link, #mainlinks li:visited{color: white;}	
#mainlinks li:hover, #mainlinks li:focus {
	color: #FFFFFF;
	background-color: #6C82B8;
	text-decoration: none;
}
#mainlinks li:active, #mainlinks li.current{
color: white;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* IE9+ SVG equivalent  of linear gradients */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.82) 0%, rgba(255,255,255,0.16) 100%); /* fade from white (0.82 opacty) to 0.16 opacity */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.82)), color-stop(100%,rgba(255,255,255,0.16)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
background: linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#29ffffff',GradientType=0 );
-moz-box-shadow: 0 0 5px #595959; /* CSS3 box shadows */
-webkit-box-shadow: 0 0 5px #595959;
box-shadow: 0 0 5px #595959;
padding-top: 12px; /* large padding to get menu item to protrude upwards */
padding-bottom: 18px; /* large padding to get menu item to protrude downwards */
}
#mainlinks li ul{
	display: none;
    top: 13px;
    height: auto;
    width: 9em;
    z-index:2000;
    position:absolute;
    margin-top: 15px;
    left: 0;/*put an end to the float issues*/
}
#mainlinks li:hover ul {
display:block;
}
#mainlinks li:hover a{
	}
#mainlinks li li{
	display: block;
    top: 0px;
    float: none;
    height: auto;
    width: auto;
    z-index:200;
}
.cov{
	width: 940px;
	height: auto;
	padding: 0px 0 0px 0;
	margin: 0px 10px 0px 10px;
	position: relative;
	text-align: center;
}
.addr
{
    width: 685px;
    color: #000000;
    height: auto;
    background-color: rgb(230,230,230);
    margin: 0px;
    position: absolute;
    padding: 3px;
    font-size: 0.85em;
    text-align: center;
    top: 500px;
    left: 123px;
}
.right{
	width: 300px;
	height: 250px;
	float: right;
	position: relative;
	/*border: 1px solid #E9DFD1;*/
	border: 1px solid #ffffff;
	color: #ffffff;
}
.right #class_u{
	width: 280px;
	height: 115px;
	position: relative;
	margin: 10px 0 0 10px;
	border-bottom: 1px dotted #D1C3AF;
	display: block;
}
.belter
{
    margin-bottom: 02px;
    width: 100%;
    background: url('029-pattern.png') repeat-x;
    height: 15px;
    vertical-align: middle;
    display: block;
  }
.belter2
{
    margin-bottom: 02px;
    width: 100%;
    background: url('bkgd.png') repeat;
    height: 15px;
    vertical-align: middle;
    display: block;
}
.divider { 
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url("title-se.png");
background-origin: padding-box;
background-position: 0px 0px;
background-repeat: repeat-x;
background-size: auto;
display: block;
margin-bottom: 1px;
margin-left: 0px;
margin-right: 0px;
margin-top: 3px;
overflow-x: hidden;
overflow-y: hidden;
padding-top: 2px;
position: relative;
width: 98%;
 }
.innu{float: left; width: 40%; text-align: left; font-size: 1.1em;}
.egbe
{
	background-position: center center;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: left;
	width: 58%;
	height: 100%;
	background-image: url('029-pattern.png');
	background-position: background-attachment: fixed;
	background-repeat: repeat;
	/*opacity: 0.9;
    filter: alpha(opacity=90);*/
}

#sponsors{ display:block; overflow:hidden; clear: both;
width: 920px;
	height: auto;
	position: relative;
	margin: 0 10px 5px 10px;
	padding: 5px 0 0px 0px;
	text-align: left;
    font-size: 1em;}
.sponsorlisting{ float: none; clear: both; display:block; margin-top: 15px; width:100%; list-style-image: none;
list-style-position: outside; vertical-align: middle;
list-style-type: none;}
#sponsors li:first-child{margin-left: -48px;}
#sponsors li:last-child{border-style:none;}
#sponsors li
{
    padding-left: 3.0px;
    padding-right: 2.9px;
    background-color: transparent;
}
li{list-style: none;}

.inxp{
	width: 280px;
	height: 80px;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
}
.inxp #pix{
	width: 80px;
	height: 80px;
	float: left;
	overflow: inherit;
	border: 1px solid #ffffff;
}
.inxp #wrd{
	width: 190px;
	height: 80px;
	float: right;
	font-size: 0.85em;
	line-height: 1.5em;
}
.uxx{
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	height: auto;
	margin: 4px 0 5px 0; line-height:0;
	display: block;
    clear: both; padding: 10px 0px 0px 10px;
}
.uxx p {
padding: 4px 0px 0px 53px;
margin: 0px 0px 8px 0px;
clear: both;
font-weight: normal;
font-size: 1.2em;
line-height: 10px;
color: #5C5C5C;
display: block;
height: 30px;
background-image: url(twitter-trans.png);
background-repeat: no-repeat;
background-position: left top;
}
.left{
	width: 610px;
	height:250px;
	float: left;
	position: relative;
	margin: 0 auto;
	padding: 0 0 0 0;
	border: 0px solid #cccccc;
}
.scroll{
	width: 270px;
	padding: 0 0 10px 10px;
	height: 140px;
	overflow: hidden;
}
.tm_r{
	width: 290px;
	height: 215px;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	float: right;
	position: relative;
}
.tm_l{
	width: 600px;
	height: 215px;
	position: relative;
	margin: 20px 0 0 0;
	float: left;
}
.bxxl{
	width: 290px;
	height: 215px;
	float: left;
	margin: 0 auto;
	position: relative;
}
.bxxr{
	width: 290px;
	height: 215px;
	float: right;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
}
#top_c{
	width: 290px;
	height: 40px;
	margin: 0 0 1px 0;
	padding: 0 0 0 0;
	border-bottom: 1px solid #336699;
}
#pxx{
	width: 290px;
	height: 100px;
	display: block;
	border-bottom: 1px solid #336699;
	padding: 0 0 1px 0;
}
.content{
	width: 100%;
	height: auto;
	margin: 15px 0 0 0;
	line-height: 1.5em;
	font-size: 0.85em;
	/*word-spacing: 0.5em;*/
}
.bottom{
	width: auto;
	height: auto;
	/*clip: rect(10px, 10px, 0, 0);*/
	/*top: 10px;*/
	bottom: 5px;
	right: 0;
	margin: 0 auto;
    position: absolute;
}
.footlinks{
	width: 900px;
	height: 25px;
	padding: 7px 0 0px 0;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.93em;
	color: #fff;
}
.flinks{
	width: auto;
	padding: 0 15px 0 15px;
	margin: 0 auto;
	border-right: 1px dotted #DCECFB;
	height: auto;
}
.mmxx{
	width: 270px;
	height: auto;
	padding: 4px 0 10px 10px;
	line-height: 1.8em;
}
.copy{
	width: auto;
	height: auto;
	font-size: 0.85em;
	bottom: 10px;
	left: 10px;
	position: absolute;
}
.txx{
	width: 100%;
	margin: 0 0 5px 0;
	padding: 0 0 0 0;
	/*font-weight: bold;
	border-bottom: 1px dotted #B9CAF3;*/
	display: block;
	color: #BCCAEC;
}
.bottom{
	width: auto;
	height: auto;
	/*clip: rect(10px, 10px, 0, 0);*/
	/*top: 10px;*/
	bottom: 5px;
	right: 0;
	margin: 0 auto;
	position: absolute;
}
.xxdl{
	width: 280px;
	height: 65px;
	padding: 0 0 0 0;
	margin: 0 auto;
}
.xxdl #pdlx{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	float: left;
	position: relative;
}
.xxdl #yhh{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	padding: 0 0 0 0;
	float: right;
	position: relative;
    top: 0px;
    left: 0px;
}
.lxxl{
	width: 300px;
	height: 250px;
	float: left;
	position: relative;
	/*border: 1px solid #E9DFD1;*/
	border: 1px solid #ffffff;
	background-color: #1F2F55;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}
.t_cov{
	width: 270px;
	height: 25px;/*
	float: right;
	border-bottom: 1px dotted #ffffff;
	height: auto;
	text-align: left;
	/*margin: 0 auto;*/
	/*padding: 0 0 0 10px;*/
}
a.t_cov {display: block;
	background-image: url(link_bg2.png);
	color: #fff;
	padding: 10px 0 5px 10px;
	margin: 0 0 2px 0;
	text-decoration: none;
	font-size: 1.08em;
}
a.t_cov:hover {
	color: #fff;
	background-image: url(link_bg0.png);
	text-decoration: none;
}
.foregroundDarkBlue { 
color: rgb(0, 82, 145); font-family: Trebuchet MS; font-size: 3em;
 }
 .foregroundBlue { 
color: rgb(0, 82, 145); font-family: Georgia; font-size: 2.5em;
 }
 .foregroundLightBlue { 
color: rgb(204, 216, 244); font-family: Georgia; font-size: 4em; text-shadow: 2px 2px 3px rgb(88, 95, 135);
color: #7F84A3; 
 }
 .foregroundLightBluNoShadow { 
color: #7F84A3; font-size: 3em;  }
 #slidedeck_frame {
                width: auto;
                height: 306px; 
            }        
/* --- links --- */
.footlinks A:link { text-decoration: none; color: #B9CAF3;}
.footlinks A:visited { text-decoration: none; color: #B9CAF3;}
.footlinks A:active { text-decoration: none; color: #B9CAF3;}
.footlinks A:hover { text-decoration: none; color: #ffffff;}

.design {}
.design A:link { text-decoration: underline; color: #1F2F55;}
.design A:visited { text-decoration: underline; color: #1F2F55;}
.design A:hover { text-decoration: none; color: #1F2F55;}
.design A:active { text-decoration: underline; color: #1F2F55;}

.label A:link { text-decoration: none; color: #fff;}
.label A:visited { text-decoration: none; color: #fff;}
.label A:active { text-decoration: none; color: #fff;}
.label A:hover { text-decoration: none; color: #B9CAF3;}

.class1 A:link { text-decoration: none; color: #B9CAF3;}
.class1 A:visited { text-decoration: none; color: #B9CAF3;}
.class1 A:active { text-decoration: none; color: #B9CAF3;}
.class1 A:hover { text-decoration: none; color: #ffffff;}

.class2 A:link { text-decoration: underline; color: #B9CAF3;}
.class2 A:visited { text-decoration: underline; color: #B9CAF3; font-size: 0.5em;}
.class2 A:active { text-decoration: underline; color: #B9CAF3;}
.class2 A:hover { text-decoration: none; color: #B9CAF3;}

.too A:link { text-decoration: none; color: #1F2F55;}
.too A:visited { text-decoration: none; color: #1F2F55;}
.too A:active { text-decoration: none; color: #1F2F55;}
.too A:hover { text-decoration: underline; color: #0066CC;}

.upp A:link { text-decoration: underline; color: #000;}
.upp A:visited { text-decoration: underline; color: #000;}
.upp A:active { text-decoration: underline; color: #000;}
.upp A:hover { text-decoration: none; color: #000;}

/* --- contactPage --- */

input.text-input			             { margin:4px;padding:2px 0;color:#333; }
.error           { font-weight:normal;color:red;text-align:left;}
input.text-input			{ margin:4px;padding:2px 0;color:#333; }
div#name_error      { top:22px; left:120px; }
div#email_error      { top:67px; left:120px; }
div#phone_error      { top:112px; left:120px; }
div#message_error      { top:112px; left:120px; }
.button {
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
/* blu 4 button */
.blu {
	color: #d9eef7;
    font-weight: bolder;
	border: solid 1px #0076a3;
	background: #172A57;
	background: -webkit-gradient(linear, left top, left bottom, from(#172A57), to(#0078a5));
	background: -moz-linear-gradient(top,  #172A57,  #0078a5);
	}
.blu:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
.blu:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	}
.requiredlabel { 
color:  #172A57;
font-size: 0.77em;
padding-left: 5px; display: inline;
 }

/*--- form ends - Contact page continues --- */
#contact_form p {margin: 1px;}
h1                                      { font-size:2.0em; font-family: serif;
                                        font-weight:normal; font-style: normal; padding-left:4px;margin:0 0 20px 0; }
h1.red                                  { background:  no-repeat top left; }
h1.blue                                 { background: no-repeat top left; }
h1.orange                               { background:  no-repeat top left; }
.grid_10 h4:after, .grid_10 h4:before{}
.clearer                                 { display:block;height:5px;clear:both;visibility:hidden;line-height:0em; }
.green                                  { color: inherit; }
.red                                    { color:rgb(184, 197, 224); }
.blue                                   { color:rgb(60, 54, 122); }
.orange                                { color:rgb(28, 36, 67); }
.extra-right-padding	                { padding-left: 5px; padding-right:14px; margin-left:30px;  
                                            height: 466px; overflow-y: hidden;}
.extra-left-padding	                    { padding-left: 23px; padding-right:1px;text-align: left; 
                                            height: 466px; overflow-y: hidden;}
.extra-left-paddings	                    { padding-left: 20px; padding-right:8px; 
                                            font-size: 1em; background-color: rgb(218, 222, 228) /* fallback */;
                                            background-color: rgba(134, 146, 168, 0.3);
                                             height: 468px;}
.top_container                          {height: 40px; width: auto; border-style: dotted; border-color: rgb(139, 170, 227);
                                        -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; 
                                        margin-bottom: 3px; margin-top:3px; border-width: thin;}

.link                                   { width:110px;float:left; }
#map                                    { width:auto;height:250px;margin-bottom:15px; border-style: solid; border-color: rgb(139, 170, 227);
                                        -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; 
                                        margin-bottom: 3px; border-width: thin;}
.map { 
	padding: 10px;
background-image: -moz-linear-gradient(#444, #333);
background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
background-image: -webkit-linear-gradient(#444, #333);
background-image: -o-linear-gradient(#444, #333);
background-image: -ms-linear-gradient(#444, #333);
background-image: linear-gradient(#444, #333);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 0 2px 1px rgba(255,255,255,.1), 0 3px 0 #000, 0 4px 0 #111, 0 5px 2px #444;
-webkit-box-shadow: 0 2px 1px rgba(255,255,255,.1), 0 3px 0 #000, 0 4px 0 #111, 0 5px 2px #444;
box-shadow: 0 2px 1px rgba(255,255,255,.1), 0 3px 0 #000, 0 4px 0 #111, 0 5px 2px #444;
}

/*--- text alignment CSS --- */
.style1 {
	text-align: justify;
}
#acure{ float: left; width: 16.8%; height: 730px; background-color: #F8F8F8; padding-top: 15px;
background-image: url('student-girl.png');
 background-repeat: no-repeat; background-position: center;}
.white {color: white; font-size: 1em; font-family: Georgia;}
blockquote{ overflow-y: auto;
/*background-image: url('Format Quote.png'); background-repeat: no-repeat; background-attachment: scroll;
background-position: left top; background-color: transparent;*/
    margin-left: 16px;
}
.top {
    background: url("topPaperShadow.png") no-repeat scroll center top transparent; margin-left: 9px;
    height: 72px; vertical-align: middle;
    width: 240px; overflow: hidden;
}
.wamp{background: url("topBGPattern.png") repeat scroll 0 0 transparent; border-top-style: solid;
border-width: thin; border-color: rgb(238, 239, 242); display: inline; top: auto;}
.pot {
    background: url("potPaperShadow.png") no-repeat scroll center top transparent; margin-left: 9px;
    height: 72px; vertical-align: middle;
    width: 240px; overflow: hidden;
}
.sidebarclip
{ float: left;
  position: relative; 
  z-index: 1;
  vertical-align: middle;
  margin: -27px 0 -60px -24px; }
/*--- Services Standalone --- */
.inline{ margin-right: 1%; margin-left: 1%; float: left; display: inline;}
.container {
	width: 915px; margin-right: 5px; margin-left: 5px; display:inline; font-size:1em; vertical-align:middle;
    }
 .container .grid_10 {
	width: 65%;
}
.headinWrap{ letter-spacing: 5px; text-align: justify; text-indent: 7px; line-height: 8.5px;}
/******************************* Structure Styles *******************************/
div.centerContainer {
	width: 940px;
	margin: 0 10px 0 10px;
	overflow: hidden;
}
.fl {float: left;}
.fr {float: right; text-align: justify;}
ul.arrowList {
		background: url('sidebarGradBG.png') 0 0 repeat-x;
        list-style:none
	}
ul.arrowList li {
		border-bottom: 1px solid #e1e5e9;
		padding: 14px 20px;
		background: url('sidebarPointRed.png') 92% center no-repeat;
 list-style-position: initial;
list-style-image: initial; margin-left: -45px;}
	
li.activeSidebarItem {
		background: url('sidebarPointDark.png') 92% center no-repeat !important;
		font-weight: bold;
		color: #62656b;
	}
div.sidebarContainer {
	width: 280px;
	margin: 0 10px 0 0;
    padding: 0;
}
.noBottomBorder {
	border-bottom: none !important;
	overflow: hidden;
}
div.sidebarItem {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;	
	margin-bottom: 30px;
}
div.sidebarHeader {
	background: url('sidebarHeaderBG.png') 0 0 repeat-x;
	height: 47px;
	padding: 0 20px;
    margin:0; 
}
.downwrap2 {background: url(slide-shadow.png) no-repeat bottom left; float: left; height: 20px; width: 99%;
margin: 0 0 10px 0px; padding: 10px 0 10px 0px;}
/*--- Auto Gen --- */
#Qlinks{ width: 71%; display: inline; float: left; text-align: justify;}
.Qlinks{ width: 71%; display: inline; float: left; text-align: justify;}
.wrapup{background: url("Supp.png") no-repeat scroll left top transparent;float: left;
position: relative; width: 98%; vertical-align: baseline; background-attachment: initial; top: 0; left: 0;
margin: 0 10px 10px 10px; padding: 10px 0 10px 0px;
background-position-x: 0%;
background-position-y: 0%;
background-origin: initial;
background-clip: initial;}
.downwrap {background: url(botombloc.gif) no-repeat bottom left; float: left; height: 96px; width: 98%;
margin: 0 10px 10px 10px; padding: 10px 0 10px 0px;}
.sidewrap{background-position: -698px 0px ; width: 26%; float: right; height: 200px; margin-left: 0; margin-right: 0;
padding-right: 0;}

/*-------------------------------------------------------------------------*/
/*	Service. Tabs
/*-------------------------------------------------------------------------*/

.tabs_type_1 dd.current{
display:block;
}

.tabs_type_1 {
width:99.9%;
height:350px;
-webkit-box-shadow: 0px 3px 5px;
-moz-box-shadow: 0px 3px 5px;
box-shadow: 0px 3px 5px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background-color:#f8f8f8;
overflow:hidden;
position:relative;
margin:0;
}

.tabs_type_1 dt {
width:22%;
border-bottom:1px solid #ededed;
font-size:0.99em;
font-weight:700;
cursor:pointer;
padding:16px 0 16px 3%;
}

.tabs_type_1 dt img {
display:inline-block;
margin-right:15px;
position:relative;
top:5px;
}

.tabs_type_1 dd {
margin-left:25%;
background-color:#FFF;
height:85%;
box-shadow:inherit;
overflow:auto;
position:absolute;
top:0;
right:0;
display:none;
z-index:1000;
padding:3%;
}

.tabs_type_1 dt:first-child {
margin-top:1%;
}

.tabs_type_1 dd .column_group p:first-child {
margin-top:0;
}

.tabs_type_1_arrow {
position:absolute;
top:0;
left:23%;
z-index:1001;
width:18px;
height:36px;
background-image:url(tab-type1-arrow.png);
background-repeat:no-repeat;
}

.tabs_type_1 dt.current,
.tabs_type_2 dt.current {
color:#01C3FD;
}
.arrowList {
		background: url('sidebarGradBG.png') 0 0 repeat-x;
        list-style:none
	}
/*-------------------------------------------------------------------------*/
/*	BOXZONE
/*-------------------------------------------------------------------------*/
.boxzone{font-size: 1.23em; padding-top: 7px;}

.contents {
	clear:both;
	height:auto;
	overflow:hidden;
    margin-top: -3%;
    
}
.padd-border {
	clear:both;
	padding:0px 10px 0px 10px;
}
ul.boxes {
	clear:both;
	padding:0px 0px 5px 0px;
	margin:0px;
	list-style:none;
	overflow:hidden;
	height:auto;
}
ul.boxes li {
	float:left;
	display:block;
	padding:0.16%;
	margin:0px;
	width:310px;
	height:230px;
}
ul.boxes li div.box-contents-boxone {
	clear:both;
	padding:0px;
	height:230px;
    width: 100%;
	background-image: url(boxone.jpg);
	background-repeat: no-repeat;
	background-position: left top;
    overflow: auto;
}
ul.boxes li div.box-contents-boxtwo {
	clear:both;
	padding:0px;
	margin:0px;
	height:230px;
	background-image: url(boxtwo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.boxes li div.box-contents-boxone h2 {
	clear:both;
	padding:20px 0px 4px 0px;
	margin:0px 0px 0px 26px;
	display:block;
	height:23px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.24em;
	font-weight: normal;
	background-image: url(sepone.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
ul.boxes li div.box-contents-boxone p {
	clear:both;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	line-height:18px;
}
ul.boxes li div.box-contents-boxone p img {
	float:left;
	padding:0px;
	margin:0px 4px 0px 0px;
}
ul.boxes li div.box-contents-boxtwo {
	clear:both;
	padding:0px;
	margin:0px;
	height:230px;
	background-image: url(boxtwo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.boxes li div.box-contents-boxtwo h2 {
	clear:both;
	padding:20px 0px 4px 0px;
	margin:0px 0px 0px 26px;
	display:block;
	height:23px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.23em;
	font-weight: normal;
	color: #fff;
	background-image: url(septwo.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
ul.boxes li div.box-contents-boxtwo p {
	clear:both;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	line-height:18px;
}
ul.boxes li div.box-contents-boxtwo p img {
	float:left;
	padding:0px;
	margin:0px 4px 0px 0px;
}
ul.boxes li div.box-contents-boxthree {
	clear:both;
	padding:0px;
	height:230px;
    width: 100%;
	background-image: url(boxthree.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.boxes li div.box-contents-boxthree h2 {
	clear:both;
	padding:20px 0px 4px 0px;
	margin:0px 0px 0px 26px;
	display:block;
	height:23px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.23em;
	font-weight: normal;
	color: #fff;
	background-image: url(septhree.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
ul.boxes li div.box-contents-boxthree p {
	clear:both;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	line-height:18px;
}
ul.boxes li div.box-contents-boxthree p img {
	float:left;
	padding:0px;
	margin:0px 4px 0px 0px;
}
p.top {
	padding:10px 16px 4px 0px;
	margin:0px 0px 0px 0px;
}
p.bottom {
	padding:10px 16px 4px 30px;
	margin:0px 0px 0px 0px;
}
.contents-bottom {
	clear:both;
	width:942px;
	overflow:hidden;
	height:auto;
	background-color: #fffffe;
	margin:auto;
	height:auto;
	overflow:hidden;
	padding:0px 0px 0px 0px;
}
.contentsLeft {
	width:608px;
	float:left;
	padding:26px 0px 8px 24px;
	overflow:hidden;
	height:auto;
	background-image: url(leftfoot.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.contentsLeft h2 {
	display:block;
	height:41px;
	width:540px;
	background-color: #c0bbbb;
	padding:0px 0px 0px 22px;
	margin:0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.39em;
	font-weight: normal;
	color: #FFF;
	line-height:41px;
}
.contentsLeft p {
	clear:both;
	padding:16px 0px 0px 5px;
	margin:0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #9a9a9a;
	line-height:18px;
	width:563px;
}
.contentsLeft a {
	display:block;
	float:right;
	clear:both;
	padding:0px 0px 0px 0px;
	margin:10px 50px 0px 0px;
	height:30px;
	width:97px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #686868;
	background-image: url(button.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	cursor:pointer;
	border:none;
	background-color:#d6e1c7;
	text-align:center;
	line-height:30px;
}
.contentsLeft img {
	display:block;
	padding:0px;
	margin:20px 0px 0px 0px;
	border:3px solid #e1e1e1;
}
/* +++++ textrisizer  */
#textsizer-classnames
{
   margin-bottom: 6px;
}
   #textsizer-classnames p
   {
      display: inline;
   }
ul.textresizer
{
   list-style: none;
   display: inline;
   margin: 0px;
   padding: 0px;
}
   ul.textresizer li
   {
      display: inline;
      margin: 0px;
      margin-right: 5px;
      padding: 0px;
   }

   ul.textresizer a
   {
      border: solid 1px #999;
      padding: 2px 3px;
      font-weight: bold;
      text-decoration: none;
   }
    
   ul.textresizer a:hover
   {
      background: #e5e5e5;
      border: solid 1px #cccccc;
        
   }

   ul.textresizer .small-text
   {
      font-size: 11px;
   }
   
   ul.textresizer .medium-text
   {
      font-size: 13px;
   }
   
   ul.textresizer .large-text
   {
      font-size: 15px;
   }
   
   ul.textresizer .larger-text
   {
      font-size: 17px;
   }

   ul.textresizer a.textresizer-active
   {
      border: solid 1px #2B562B;
      background: #FFCA6F;
      color: #000000;            
   }

#maincontent {}
   #maincontent.small-text
   {
      font-size: 11px;
   }
   
   #maincontent.medium-text
   {
      font-size: 13px;
   }
   
   #maincontent.large-text
   {
      font-size: 15px;
   }
/* +++++ breadcrumb  */
#Breadcrumbs { 
 	color: #B7C0C5;
	text-align: left;
    font-family: Arial;
	font-size: 0.9em; 
	margin: 0px 5px 10px 0;
}
	#Breadcrumbs p {
		margin: 0;
	}
.TeamBox{ 
	display:block;
	float:left;
	height:190px;
	margin:0;
	padding:0;
	width:156px;
}
.infoFrame{ 
	color:#666666;
	font-size:11px;
	padding-right:17px;
}

.titleSide {
    background: url("title1.gif") repeat-y scroll left center #164677;
    color: #FFFFFF; text-align: left;
    font-size: 1.2em;
    margin-bottom: 12px;
    padding-left: 24px; padding-right: 7px;
    width: 48%;
}
.SideSlide {
    background: url("Nu.jpg") repeat-y scroll left center #164677; height: 275px;}
.SideSlide2 {
    background: url("flyer-01.jpg") repeat-y scroll left center; height: 286px; width: 673px;}
.titleSide a:link, .titleSide a:visited {
color: inherit;
} 
.SideSlide3 {
background: url("diverse_people_mini.jpg") repeat-y scroll left center #164677;
height: 275px;
} 
/**  thumbnails***/
.room_thumb {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 180px;
    }
.disclose_link{font-family: monospace;}

/* Table styles */


    table.room_hire, table.room_hire td, table.room_hire th {
        padding: 0;
        margin: 0;
        vertical-align: top;
        }

table.room_hire th {
background-color: rgb(191, 196, 202);
font-weight: bold;
}
        
    table.room_hire td, table.room_hire th {    
        padding: 0.5em 4px;
        border-bottom: 1px solid #999999;
    }

table.room_hire {
margin-bottom: 30px;
width: 100%;
font-size: 0.9286em;
}
        
  
    
    table.room_hire td.col2, table.room_hire th.col2 {
        border-left: 1px solid #999999;
    }
    
    table.room_hire td.col3, table.room_hire th.col3, table.room_hire td.col4, table.room_hire th.col4, table.room_hire td.col3a, table.room_hire th.col3a, table.room_hire td.col4a, table.room_hire th.col4a, table.room_hire td.col3b, table.room_hire th.col3b, table.room_hire td.col4b, table.room_hire th.col4b, table.room_hire td.col2a {
        border-left: 1px solid #999999;
    }

table.room_hire th.col3, table.room_hire th.col4 {
width: 24%;
}

table.room_hire th.col1 {
width: 20%;
}
.tablist{list-style-image: url('grey_bullet.gif'); margin-right: 5px;}
.iehack{margin: 1px;}
.menubottom {
    background: url("border1.gif") repeat-x scroll 0 0 #FFFFFF;
    height: 14px;
    margin: 0 10px 0 10px;
    -moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-radius: 5px 5px;
border-radius: 5px 5px;
}
.sh_blue {
    background: url("sh_lrg_blue.jpg") repeat scroll 0 0 transparent;
}
.sh {
    background-color: #CCCCCC;
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #FFFFFF;
    float: left;
    font-size: 23px;
    font-style: normal;
    font-family: monospace;
    height: 31px;
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    margin-top: 6px;
    width: 90%;
    }
.cb{clear: both; margin: 0;}
.sh_indent {
    height: 10px; display: inline;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: -5px;
}
.courses{font-family:Courier new; color: rgb(104, 153, 255); font-size: large;}

/*--- Anita Footer --- */  

.columns { font-family: sans-serif;
margin: 0;
border-bottom: 1px inset #E9E9E9;
height: 129px;
background: transparent url(columns_bg.png) no-repeat 100% 100%;
border-top: 1px solid #E9E9E9;
padding: 0px 0px 0px 0;
}
.columns .col {
float: left;
position: relative;
text-align: left;
width: 210px;
margin: 0 0px 0 0px;
}
.col p a:link, a:visited{color: rgb(255, 0, 132);}

.bann_shadow{
    background: url(horizontal-shadow-strip.png) no-repeat transparent; background-position: bottom center; height: 19px; top: 5px;
}
/*--- Pure CSS Acordion--- */  
p.accnav
{
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: right;
}

p.accnav a
{
	text-decoration: none;
	color: #999;
}

article.accordion
{
	display: block;
	width: 90%;
	background-color: #666;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

article.accordion section
{
	display: block;
	width: auto;
	height: 2em;
	padding: 0 1em;
	margin: 0 0 0.5em 0;
	color: #333;
	background-color: #333;
	overflow: hidden;
	border-radius: 3px;
}

article.accordion section h2
{
	font-size: 1em;
	font-weight: bold;
	width: 100%;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: #ddd;
}

article.accordion section h2 a
{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.accordion section,
article.accordion section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

article.accordion section:target
{
	height: auto;
	background-color: white;
}

article.accordion section:target h2
{
	font-size: 1.6em;
	color: #333;
}   
/*---  --- */  
.part{background: url('bg_part.png')50% 0px repeat-y transparent;
width: 256px;
font-size: 0.9em;
margin-left: 1px;
border-left-color:#F8CB9C;
border-left-width: 10px;
border-style: solid;
border-top: none;
border-bottom: none;
border-right-color: #F8CB9C;
border-right-width: 10px;}
/*--- Home Page Band--- */  
.es-carousel ul li {
    height: 160px ;
    float: left;
    position: relative;
    display: inline;
    background: url(cat_slide_div.png) right center no-repeat;
}.es-carousel li:last-child {
    background: none;
}.cat_slide_content p {
    text-align: justify;
    float: left;
    width: 262px;
    height: 65px;
    padding: 0 0 0 10px;
}
a.palink {
color: black; margin: 0; padding: 0;
}
/*a.palink:hover{opacity: 0.6; filter: alpha(opacity=60); font-weight: bolder;}*/
.midbelt {
    height: 188px;
    padding-top: 11px;
    border-top: solid 1px #A5C8E1;
    border-bottom: inset 1px #A5C8E1;
    }
.date {
background: #FF0084;
width: 60px;
height: 50px;
float: left;
text-align: center;
text-transform: uppercase;
color: white;
line-height: 11px;
position: absolute;
z-index: 2;
margin-top: -8px;
padding: 10px 0 0;
border-radius: 30px;
}
.date strong {
display: block;
font-size: 29px;
line-height: 29px;
}
.pdfw{
    display: inline; position: relative; float: left; margin: 0;}
/*--- Register_Assessment--- */     
.formbutton {
font-weight: bold;
padding: 5px;
border: 0;
color: white;
background: #2D2D2D;
margin-top: 5px;
height: 30px;
width: 300px;
font-family: "Courier new";
font-size: large
}
iframe {
border: none;
}
.blog_top{background-image:url("top.jpg"); width: 600px;  height: 8px;}
.blog_bottom{background-image:url("bottom.jpg"); width: 600px; height: 23px;}
.blog_content{width: 600px}

/*********************************************
 * ROLLING LINKS
 *********************************************/
a.roll {
    text-decoration: none;
    /*color: hsl(206, 80%, 50%);*/
    /*color: #237CB4;*/
    color: #0073ea;
}

.roll {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    /*-webkit-perspective: 400px;
       -moz-perspective: 400px;*/

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
}
    .roll:hover span {
        background: #111;

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: hsl(206, 80%, 30%);

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}